[submodule "gnuplot/gnuplot-palettes"]
	path = gnuplot/gnuplot-palettes
	url = git@github.com:Gnuplotting/gnuplot-palettes.git
[submodule "zsh"]
	path = zsh
	url = git@github.com:conjikidow/zsh-environment.git
[submodule "latex/texmf"]
	path = latex/texmf
	url = git@github.com:conjikidow/latex-texmf.git
